

/* Chapter - 3: Routing */

/* Lesson 1: Introduction to React Router 6 */
/* body {
    background: green;
} */

/* Lesson 2: Multi-page vs single-page apps */


/* Lesson 3: React Router Setup & BrowserRouter */


/* Lesson 4: Routes */


/* Lesson 5: BrowserRouter & Routes challenge */


/* Lesson 6: Route, path, & element */


/* Lesson 7: Quick Re-org */


/* Lesson 8: Link */
/* a {
    text-decoration: none;
    margin: 10px;
}
 */
/* Lesson 9: VanLife project bootstrapping */
/* body {
    margin:0 auto;
    font-family: "Inter", sans-serif;
    background: black;
}

div#root {
    width: 550px;
    margin: 0 auto;
    background: #FFF7ED;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF7ED;
    padding:  .5em 1.5em;
}

header .logo {
    font-weight: 900;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    margin: 1em;
    font-weight: 600;
}

*/

/* 
Step 1: Set relative positioning so the pseudo-element positions relative to this div
Step 2: Create a semi-transparent background layer in ::before psedo element
Step 3: Add Opacity in ::before pseudo-element
Step 4: Keep background behind the text & button by using using z-index = 0;
Step 5: Ensure children render on top the background pseudo-element.

*/

/*
.home {
    position: relative;
    overflow: hidden;
    background: #000;
    color: white;
    padding: 3em 2em;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("assets/images/background.png");
    background-size: cover;
    background-position: center;

    opacity: 0.5;

    z-index: 0;
}

.home > * {
    position: relative;
    z-index: 1;
}

.home h2 {
    margin: 0;
    font-weight: 800;
    font-size: 2.3rem;
}

.home button {
    margin-top: 3em;
    width: 100%;
    background: #FF8C38;
    border: none;
    border-radius: 5px;
    padding: .5em;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.about {
    color: #161616;
}

.about .img-container {
    width: 100%;
    height: 233px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about div.bottom {
    padding: 0 1em 2em;
}

.about h2 {
    font-size: 2.2rem;
}

.about p {
    font-weight: 500;
}

.about p.top {
    margin-bottom: 0;
}

.about p.mid {
    margin: 0;
}

.about div.bottom div {
    background: #FFCC8D;
    border-radius: 5px;
    padding: 2em;
}

.about div.bottom div h3 {
    margin: 0;
}

.about div.bottom div button {
    margin-top: 2em;
    font-size: .875rem;
    font-weight: 700;
    color: white;
    background: #161616;
    border-radius: 10px;
    border: none;
    padding: .6em 1.2em;
}

.footer {
    color: #AAAAAA;
    background: #252525;
    padding: 1em;
    text-align: center;
}

.footer > p {
 margin: 0;
 font-weight: 500;
 font-size: .875rem;
}

 */
/* Lesson 10: Mirage JS Server */


/* Lesson 11: Challenge: Vans Page - Part 1 */
/* body {
    margin:0 auto;
    font-family: "Inter", sans-serif;
    background: black;
}

div#root {
    width: 550px;
    margin: 0 auto;
    background: #FFF7ED;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF7ED;
    padding:  .5em 1.5em;
}

header .logo {
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    margin: 1em;
    font-weight: 600;
}


.home {
    position: relative;
    overflow: hidden;
    background: #000;
    color: white;
    padding: 3em 2em;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("assets/images/background.png");
    background-size: cover;
    background-position: center;

    opacity: 0.5;

    z-index: 0;
}

.home > * {
    position: relative;
    z-index: 1;
}

.home h2 {
    margin: 0;
    font-weight: 800;
    font-size: 2.3rem;
}

.home button {
    margin-top: 3em;
    width: 100%;
    background: #FF8C38;
    border: none;
    border-radius: 5px;
    padding: .5em;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.about {
    color: #161616;
}

.about .img-container {
    width: 100%;
    height: 233px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about div.bottom {
    padding: 0 1em 2em;
}

.about h2 {
    font-size: 2.2rem;
}

.about p {
    font-weight: 500;
}

.about p.top {
    margin-bottom: 0;
}

.about p.mid {
    margin: 0;
}

.about div.bottom div {
    background: #FFCC8D;
    border-radius: 5px;
    padding: 2em;
}

.about div.bottom div h3 {
    margin: 0;
}

.about div.bottom div button {
    margin-top: 2em;
    font-size: .875rem;
    font-weight: 700;
    color: white;
    background: #161616;
    border-radius: 10px;
    border: none;
    padding: .6em 1.2em;
}

.footer {
    color: #AAAAAA;
    background: #252525;
    padding: 1em;
    text-align: center;
}

.footer > p {
 margin: 0;
 font-weight: 500;
 font-size: .875rem;
}
 */


/* Lesson 12: Challenge: Vans Page - Part 2 */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 23px;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-container p {
    line-height: 24px;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}


/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}
/* Lesson 13: Route Params - part 1 */


/* Lesson 14: Route Params - part 2 */


/* Lesson 15: A11y Update - wrapping complex content in a link */


/* Lesson 16: Route Params part 3.1 - useParams() & challenge */


/* Lesson 17: Route Params part 3.2 - useParams() challenge */

.van-detail-container {
    padding: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}

/* Lesson 18: Route Params Quiz */


/* Lesson 19: Nested Routes Intro */


/* Lesson 20: Fixing the headerbar with a Layout Route */


/* Lesson 21: Fixing the headerbar with a Layout Route part 2 */


/* Lesson 22: Bootstrap the Host pages */


/* Lesson 23: Nesting the /host routes */


/* Lesson 24: Creating the Host Layout */


/* Lesson 25: Relative Paths */


/* Lesson 26: Index Routes */


/* Lesson 27: To nest or not to nest? */


/* Lesson 28: Nested Routes Quiz */


/* Lesson 29: Add Footer */


/* Lesson 30: headerLink */


/* Lesson 31: Active Link Styling with headerLink */


/* Lesson 32: Active Link Styling with headerLink - part 2 */


/* Lesson 33: Adding Host Vans Routes */


/* Lesson 34: 🔀 Optional Side Quest - Building out the Host Vans List and Detail Pages */


/* Lesson 35: Building out the Host Van Detail page */


/* Lesson 36: Relative Links */


/* Lesson 37: Back to all vans */


/* Lesson 38: Add /host/vans/:id Nested Routes */


/* Lesson 39: Add the Final headerbar! */


/* Lesson 40: Outlet Context */


/* Lesson 41: Search Params Intro */


/* Lesson 42: useSearchParams */


/* Lesson 43: Challenge: Set up search params in VanLife */


/* Lesson 44: Filter the array w/ the search param */


/* Lesson 45: Challenge: Filter the vans in VanLife */


/* Lesson 46: Using Links to add search params */


/* Lesson 47: Challenge: Filter the vans with Links */


/* Lesson 48: Using the search params setter function */


/* Lesson 49: Challenge: Filter the vans with a setter function */


/* Lesson 50: Caveats to setting params */


/* Lesson 51: Merging search params with Links */


/* Lesson 52: Merging search params with the setSearchParams function */


/* Lesson 53: Challenge: Conditional rendering practice */


/* Lesson 54: Fix remaining absolute paths */


/* Lesson 55: Back to all vans */


/* Lesson 56: Link state */


/* Lesson 57: useLocation */


/* Lesson 58: Challenge: conditionally render the back button text */


/* Lesson 59: 404 Page */


/* Lesson 60: "Happy Path" vs. "Sad Path" (new) */


/* Lesson 61: Quick update to our fetching code */


/* Lesson 62: Coding the Sad Path - Loading state (new) */


/* Lesson 63: Coding the Sad Path - Error handling */


/* Lesson 64: Section wrapup */
