

/* Chapter - 3: Routing */

/* Lesson 1: Introduction to React Router 6 */
/* body {
    background: green;
} */

/* Lesson 2: Multi-page vs single-page apps */


/* Lesson 3: React Router Setup & BrowserRouter */


/* Lesson 4: Routes */


/* Lesson 5: BrowserRouter & Routes challenge */


/* Lesson 6: Route, path, & element */


/* Lesson 7: Quick Re-org */


/* Lesson 8: Link */
/* a {
    text-decoration: none;
    margin: 10px;
}
 */
/* Lesson 9: VanLife project bootstrapping */
/* body {
    margin:0 auto;
    font-family: "Inter", sans-serif;
    background: black;
}

div#root {
    width: 550px;
    margin: 0 auto;
    background: #FFF7ED;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF7ED;
    padding:  .5em 1.5em;
}

header .logo {
    font-weight: 900;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    margin: 1em;
    font-weight: 600;
}

*/

/* 
Step 1: Set relative positioning so the pseudo-element positions relative to this div
Step 2: Create a semi-transparent background layer in ::before psedo element
Step 3: Add Opacity in ::before pseudo-element
Step 4: Keep background behind the text & button by using using z-index = 0;
Step 5: Ensure children render on top the background pseudo-element.

*/

/*
.home {
    position: relative;
    overflow: hidden;
    background: #000;
    color: white;
    padding: 3em 2em;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("assets/images/background.png");
    background-size: cover;
    background-position: center;

    opacity: 0.5;

    z-index: 0;
}

.home > * {
    position: relative;
    z-index: 1;
}

.home h2 {
    margin: 0;
    font-weight: 800;
    font-size: 2.3rem;
}

.home button {
    margin-top: 3em;
    width: 100%;
    background: #FF8C38;
    border: none;
    border-radius: 5px;
    padding: .5em;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.about {
    color: #161616;
}

.about .img-container {
    width: 100%;
    height: 233px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about div.bottom {
    padding: 0 1em 2em;
}

.about h2 {
    font-size: 2.2rem;
}

.about p {
    font-weight: 500;
}

.about p.top {
    margin-bottom: 0;
}

.about p.mid {
    margin: 0;
}

.about div.bottom div {
    background: #FFCC8D;
    border-radius: 5px;
    padding: 2em;
}

.about div.bottom div h3 {
    margin: 0;
}

.about div.bottom div button {
    margin-top: 2em;
    font-size: .875rem;
    font-weight: 700;
    color: white;
    background: #161616;
    border-radius: 10px;
    border: none;
    padding: .6em 1.2em;
}

.footer {
    color: #AAAAAA;
    background: #252525;
    padding: 1em;
    text-align: center;
}

.footer > p {
 margin: 0;
 font-weight: 500;
 font-size: .875rem;
}

 */
/* Lesson 10: Mirage JS Server */


/* Lesson 11: Challenge: Vans Page - Part 1 */
body {
    margin:0 auto;
    font-family: "Inter", sans-serif;
    background: black;
}

div#root {
    width: 550px;
    margin: 0 auto;
    background: #FFF7ED;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF7ED;
    padding:  .5em 1.5em;
}

header .logo {
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    margin: 1em;
    font-weight: 600;
}


.home {
    position: relative;
    overflow: hidden;
    background: #000;
    color: white;
    padding: 3em 2em;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("assets/images/background.png");
    background-size: cover;
    background-position: center;

    opacity: 0.5;

    z-index: 0;
}

.home > * {
    position: relative;
    z-index: 1;
}

.home h2 {
    margin: 0;
    font-weight: 800;
    font-size: 2.3rem;
}

.home button {
    margin-top: 3em;
    width: 100%;
    background: #FF8C38;
    border: none;
    border-radius: 5px;
    padding: .5em;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

.about {
    color: #161616;
}

.about .img-container {
    width: 100%;
    height: 233px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about div.bottom {
    padding: 0 1em 2em;
}

.about h2 {
    font-size: 2.2rem;
}

.about p {
    font-weight: 500;
}

.about p.top {
    margin-bottom: 0;
}

.about p.mid {
    margin: 0;
}

.about div.bottom div {
    background: #FFCC8D;
    border-radius: 5px;
    padding: 2em;
}

.about div.bottom div h3 {
    margin: 0;
}

.about div.bottom div button {
    margin-top: 2em;
    font-size: .875rem;
    font-weight: 700;
    color: white;
    background: #161616;
    border-radius: 10px;
    border: none;
    padding: .6em 1.2em;
}

.footer {
    color: #AAAAAA;
    background: #252525;
    padding: 1em;
    text-align: center;
}

.footer > p {
 margin: 0;
 font-weight: 500;
 font-size: .875rem;
}



/* Lesson 12: Challenge: Vans Page - Part 2 */


/* Lesson 13: Route Params - part 1 */


/* Lesson 14: Route Params - part 2 */


/* Lesson 15: A11y Update - wrapping complex content in a link */


/* Lesson 16: Route Params part 3.1 - useParams() & challenge */


/* Lesson 17: Route Params part 3.2 - useParams() challenge */


/* Lesson 18: Route Params Quiz */


/* Lesson 19: Nested Routes Intro */


/* Lesson 20: Fixing the headerbar with a Layout Route */


/* Lesson 21: Fixing the headerbar with a Layout Route part 2 */


/* Lesson 22: Bootstrap the Host pages */


/* Lesson 23: Nesting the /host routes */


/* Lesson 24: Creating the Host Layout */


/* Lesson 25: Relative Paths */


/* Lesson 26: Index Routes */


/* Lesson 27: To nest or not to nest? */


/* Lesson 28: Nested Routes Quiz */


/* Lesson 29: Add Footer */


/* Lesson 30: headerLink */


/* Lesson 31: Active Link Styling with headerLink */


/* Lesson 32: Active Link Styling with headerLink - part 2 */


/* Lesson 33: Adding Host Vans Routes */


/* Lesson 34: 🔀 Optional Side Quest - Building out the Host Vans List and Detail Pages */


/* Lesson 35: Building out the Host Van Detail page */


/* Lesson 36: Relative Links */


/* Lesson 37: Back to all vans */


/* Lesson 38: Add /host/vans/:id Nested Routes */


/* Lesson 39: Add the Final headerbar! */


/* Lesson 40: Outlet Context */


/* Lesson 41: Search Params Intro */


/* Lesson 42: useSearchParams */


/* Lesson 43: Challenge: Set up search params in VanLife */


/* Lesson 44: Filter the array w/ the search param */


/* Lesson 45: Challenge: Filter the vans in VanLife */


/* Lesson 46: Using Links to add search params */


/* Lesson 47: Challenge: Filter the vans with Links */


/* Lesson 48: Using the search params setter function */


/* Lesson 49: Challenge: Filter the vans with a setter function */


/* Lesson 50: Caveats to setting params */


/* Lesson 51: Merging search params with Links */


/* Lesson 52: Merging search params with the setSearchParams function */


/* Lesson 53: Challenge: Conditional rendering practice */


/* Lesson 54: Fix remaining absolute paths */


/* Lesson 55: Back to all vans */


/* Lesson 56: Link state */


/* Lesson 57: useLocation */


/* Lesson 58: Challenge: conditionally render the back button text */


/* Lesson 59: 404 Page */


/* Lesson 60: "Happy Path" vs. "Sad Path" (new) */


/* Lesson 61: Quick update to our fetching code */


/* Lesson 62: Coding the Sad Path - Loading state (new) */


/* Lesson 63: Coding the Sad Path - Error handling */


/* Lesson 64: Section wrapup */
