

/* Chapter - 1: Build a Next.js App */
@import "tailwindcss";

/* Lesson 26: Section 1 Recap */


/* Lesson 25: Model Detail Page */


/* Lesson 24: Dynamic Routes */


/* Lesson 23: Challenge - Create the Models List Page */


/* Lesson 22: Aside: Client vs. Server Components */


/* Lesson 21: Aside: TypeScript Organization in PrintForge */


/* Lesson 20: Challenge - Add Links to Navbar */


/* Lesson 19: Links in Next.js */

/* Lesson 18: Optimizing Images */


/* Lesson 17: Optimizing Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat-alternates);
}

/* Lesson 16: Challenge - Add Header to PrintForge */


/* Lesson 15: Layouts part 2 */


/* Lesson 14: Layouts part 1 */


/* Lesson 13: Nested Routes */


/* Lesson 12: Challenge - PrintForge About Page */


/* Lesson 11: Challenge - PrintForge Home Page */


/* Lesson 10: PrintForge Challenge Setup */


/* Lesson 9: create-next-app files walkthrough */


/*
@import "tailwindcss";
 :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 */