
/* Chapter - 1: Reusability */

/* Lesson 1: Advanced React Intro */


/* Lesson 2: Button - props review challenge */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e3ff;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #E5E7EB;
    color: #4B5563;
    border: 1px solid #6B7280;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
}


/* Lesson 3: Aside - children in HTML */


/* Lesson 4: Aside - React Children */
/* * {
    box-sizing: border-box;
}

@font-face {
    font-family: "RubikDistressed";
    src: url("/fonts/RubikDistressed-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e3ff;
}

main {
    height: 100vh;
    width: 100vw;
}

.marquee {
    height: 50px;
    white-space: nowrap;
    position: relative;
    background-color: #e9e3ff;
    color: #333;
}

.marquee h1 {
    font-family: RubikDistressed;
    position: absolute;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
 */
/* Lesson 5: Challenge - Button w/ Children */


/* Lesson 6: Button - More Complex React Children */
button {
    display: flex;
    align-items: center;
}

button > svg {
    font-size: 20px;
    margin-right: 8px;
    color: green;
}

/* Lesson 7: Challenge - add onClick event listener */


/* Lesson 8: Aside - props spreading */


/* Lesson 9: Aside - Destructuring props */


/* Lesson 10: Button - size prop */

button.button-small {
    padding: 7px 11px;
    font-size: 12px;
}

button.button-large {
    padding: 30px 40px;
}

/* Lesson 11: Button - fix className issue */


/* Lesson 12: Challenge - Button w/ Variants */


/* Lesson 13: Mega Challenge - Overloaded Avatar Component */


/* Lesson 14: Menu Component Intro */


/* Lesson 15: Prop Drilling */


/* Lesson 16: Aside: Compound Components Intro */


/* Lesson 17: Compound Components in React - Part 1 */


/* Lesson 18: Compound Components Quiz */


/* Lesson 19: Compound Components in React - Part 2 */


/* Lesson 20: Compound Components in React - Part 3 */


/* Lesson 21: Summarize Challenge - Compound Components in React */


/* Lesson 22: Prop Drilling Problem #2 - Implicit State */


/* Lesson 23: The React.Children API */


/* Lesson 24: React.Children shortcomings */


/* Lesson 25: Context Intro */


/* Lesson 26: createContext() & Context Provider */


/* Lesson 27: useContext() */


/* Lesson 28: Add context to the Menu component */


/* Lesson 29: State + Context */


/* Lesson 30: Theme switcher final touches */


/* Lesson 31: Menu component final touches */


/* Lesson 32: A11y in menu component */


/* Lesson 33: Aside - Compound components w/ dot syntax */


/* Lesson 34: Headless Toggle component */


/* Lesson 35: Toggle - setup */


/* Lesson 36: Toggle - Planning */


/* Lesson 37: Toggle Context */


/* Lesson 38: Toggle.Button */


/* Lesson 39: Toggle.On & Toggle.Off */


/* Lesson 40: Remove Star component */


/* Lesson 41: Use Toggle with Menu component */


/* Lesson 42: Composing new components with Toggle */


/* Lesson 43: onToggle event listener */


/* Lesson 44: Menu onClose event */


/* Lesson 45: Intro to Refs */


/* Lesson 46: Refs and DOM manipulation */


/* Lesson 47: Fix onToggle bug using refs */


/* Lesson 48: Fix missing onToggle bug using a noop function */


/* Lesson 49: Render Props Part 1 */


/* Lesson 50: Render Props Part 2 */


/* Lesson 51: Render Props Part 3 */


/* Lesson 52: Render Props Part 4 - children as render props */


/* Lesson 53: Toggle.Display intro */


/* Lesson 54: Toggle.Display */


/* Lesson 55: Custom Hooks Intro */


/* Lesson 56: Custom Hooks - useEffectOnUpdate */


/* Lesson 57: Custom Hooks - useToggle */


/* Lesson 58: Custom Hooks - useToggle part 2 */


/* Lesson 59: Custom Hooks - useToggle part 3 */


/* Lesson 60: Custom Hooks - useToggle part 4 */


/* Lesson 61: Custom Hooks - useToggle part 5 */


/* Lesson 62: Custom Hooks - useToggle part 6 */


/* Lesson 63: Custom Hooks - useToggle part 7 */


/* Lesson 64: Custom Hooks - useToggle part 8 */


/* Lesson 65: Custom Hooks - useToggle part 9 */


/* Lesson 66: Reusability section recap */
