
/* Chapter - 4: Build a Chrome Extension */

/* Lesson 1: Let's build a Chrome Extension! */


/* Lesson 2: Add button and input tag */


/* Lesson 3: Style the button and input tag */
body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    width: 100%;
    padding: 10px;
    border: 2px solid #5f9341;
}

button {
    background: #5f9341;
    border: 1px solid #5f9341;
    margin-top: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 4px 4px #00000026;
}


/* Lesson 4: Make the input button work with onclick */


/* Lesson 5: Refactor to addEventListener */


/* Lesson 6: Write your first addEventListener() */
/* html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    cursor: pointer;
    background: lightseagreen;
    padding: 40px;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: white;
    font-weight: bold;
}
 */
/* Lesson 7: Your turn to refactor */


/* Lesson 8: Create the myLeads array and inputEl */


/* Lesson 9: When to use let and const */


/* Lesson 10: Push to the myLeads array */


/* Lesson 11: Push the value from the input field */


/* Lesson 12: Use a for loop to log out leads */


/* Lesson 13: Create the unordered list */


/* Lesson 14: Render the leads in the unordered list */


/* Lesson 15: How to render <li> elements with innerHTML */


/* Lesson 16: Write your first innerHTML */
/* body {
    text-align: center;
}

#container {
    margin-top: 30px;
}

#container button {
    background: lightcoral;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
 */
/* Lesson 17: More innerHTML practice */


/* Lesson 18: Render the <li> elements with innerHTML */


/* Lesson 19: Use createElement() and append() instead of innerHTML */


/* Lesson 20: Improving the performance of our app */


/* Lesson 21: Create the render function */


/* Lesson 22: Clear the input field */


/* Lesson 23: Add the <a> tag */


/* Lesson 24: Template strings */


/* Lesson 25: Write your first template string */


/* Lesson 26: Make the template string even more dynamic */


/* Lesson 27: Template strings on multiple lines */


/* Lesson 28: Refactor the app to use a template string */


/* Lesson Updates: Aside: Convert string to numbers with Number() */
/* :root {
    --box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    --blue: #083d77;
    --light-blue: #57c6d4;
    --green: #67dabf;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 350px;
    margin: 2em auto;
    border: 4px solid var(--blue);
    border-radius: 10px; 
    padding: 1em;   
    box-shadow: var(--box-shadow);
    background: var(--light-blue);
    background: radial-gradient(circle, var(--light-blue) 0%, var(--green) 35%);
}

h1 {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--blue);
}

label, input, button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--blue);
}

input {
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 0.25em;
    border: 2px solid var(--blue);
}

button {
    border-radius: 5px;
    margin-top: 1em;
    padding: 0.5em;
    cursor: pointer;
    border: 3px solid var(--blue);
    color: var(--blue);
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

h2 {
    text-align: center;
    color: var(--blue);
}
 */
/* Lesson 29: Style the list */
ul {
    margin-top: 20px;
    padding: 0;
}

li {
    list-style: none;
    margin-block: 5px;

}

a {
    color: green;
}


/* Lesson 30: Preparing the deployment */
body {
    min-width: 400px;
}

/* Lesson 31: Deploying the Chrome Extension */


/* Lesson 32: What is localStorage? */


/* Lesson 33: Your first localStorage */


/* Lesson 34: Storing arrays in localStorage */


/* Lesson 35: Save the leads to localStorage */


/* Lesson 36: Get the leads from localStorage */


/* Lesson 37: Truthy and falsy values */


/* Lesson 38: Guess the expression - truthy or falsy? */


/* Lesson 39: Checking localStorage before rendering */


/* Lesson 40: Style the delete button */


/* Lesson 41: Make the delete button work */
#delete-btn {
    background-color: white;
    color: #5f9341;
}

/* Lesson 42: How function parameters can improve our code */


/* Lesson 43: Write your first function parameter */


/* Lesson 44: Functions with multiple parameters */


/* Lesson 45: Numbers as function parameters */


/* Lesson 46: Aside: Arguments vs Parameters */


/* Lesson 47: Arrays as parameters */


/* Lesson 48: Refactor renderLeads() to use a parameter */


/* Lesson 49: Create the tabBtn */


/* Lesson 50: Save the tab url */


/* Lesson 51: How to get the current tab? */


/* Lesson 52: Use the Chrome API to get the tab */


/* Lesson 53: Deploy the final version */


/* Lesson 54: Congrats & recap */
