/* Chapter - 6: Capstone Project #2 - Assembly: Endgame */

/* Lesson 1: Assembly Endgame Intro */


/* Lesson 2: Assembly Endgame - Project Planning */


/* Lesson 3: Assembly Endgame - Header Section */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
    width: 480px;
}

.title, section.game-status h2 {
    font-weight: 500;
    font-size: 1.25rem;
    color: #F9F4DA;
}

.description {
    font-size: 0.875rem;
    color: #8E8E8E;
}


/* Lesson 4: Assembly Endgame - Status Section */
section.game-status {
    width: 480px;
    height: 65px;
    /* background: #10A95B; */
    background: #262626;
    border-radius: 4px;
    padding: 6px 0;
    margin-block: 30px;
}

section.game-status h2  {
    margin: 0;
}

section.game-status p  { 
    margin: 0px;
}

/* Lesson 5: Assembly Endgame - Languages List */
section.language-chips {
    width: 352px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.5px;
}

section.language-chips p {
    margin:0;
    border-radius: 3px;
    padding: 4.5px;
    font-weight: 700;
    font-size: .75rem;
}


/* Lesson 6: Assembly Endgame - Word Display */
section.word {
    margin-block: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

span.letter {
    width: 40px;
    height: 40px;
    background-color: #323232;
    border-bottom: 1px solid #F9F4DA;
    padding: 8px;
    font-weight: 700;
    font-size: 1.125rem;
}

/* Lesson 7: Assembly Endgame - Keyboard */

section.keyboard {
    margin-block: 40px;
    width: 480px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

section.keyboard  button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    background: #FCBA29;
    font-weight: 600;
    font-size: 1rem;
    color: #1E1E1E;
    padding: 5px;
}

button.new-game {
    width: 240px;
    height: 40px;
    background: #11B5E5;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    padding: 6px 12px;
    font-weight: 600;
    font-size: 1rem;
    color: #1E1E1E;
    margin-bottom: 60px;
}

/* Lesson 8: Assembly Endgame - Save the guessed letters */


/* Lesson 9: Assembly Endgame - Keyboard letter styles for guesses */
section.keyboard button.wrong {
    background-color: #EC5D49;
}

section.keyboard button.correct {
    background-color: #10A95B;
}

/* Lesson 10: Assembly Endgame - Only display correctly guessed letters in word */


/* Lesson 11: Assembly Endgame - Wrong guess count */


/* Lesson 12: Assembly Endgame - Lost languages */
section.language-chips p {
    position: relative;
}
/* Dimmed overlay with skull on "lost" languages */
p.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


/* Lesson 13: Assembly Endgame - isGameOver */


/* Lesson 14: Assembly Endgame - Display won/lost status */
section.game-status.won {
    background: #10A95B;

}

section.game-status.lost {
    background-color: #BA2A2A;
}

section.game-status {
    padding-bottom: 1em;
}

/* Lesson 15: Assembly Endgame - Quick CSS alignment fix 🤦🏻‍♂️ */


/* Lesson 16: Assembly Endgame - Conditional rendering with a helper function */


/* Lesson 17: Assembly Endgame - Backlog inventory */


/* Lesson 18: Assembly Endgame - Farewell messages */

section.game-status.farewell {
    background: #7A5EA7;
    font-size: 400;
    font-style: italic;
    font-size: 1rem;
    color: #F9F4DA;
    display: flex;
    align-items:center;
    justify-content: center;
}

/* Lesson 19: Assembly Endgame - Disable keyboard when the game is over */

section.keyboard button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

/* Lesson 20: Assembly Endgame - Make the game more a11y-friendly part 1 */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Lesson 21: Assembly Endgame - Make the game more a11y-friendly part 2 */


/* Lesson 22: Assembly Endgame - Choose random word */


/* Lesson 23: Assembly Endgame - New game button resets the game */


/* Lesson 24: Assembly Endgame - Display missed letters when lost */
.letter.missed {
    color: #EC5D49;
}

/* Lesson 25: Assembly Endgame - 🎊🎊🎊🎊🎊 */


/* Lesson 26: Assembly Endgame Outro */
